body {
    text-align: center;
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-line-height: 1.4;
    --bs-body-bg: var(--bs-gray-100);
  }
.form-check-label {
  font-family: 'Prompt', sans-serif;
}
.alert {
  font-family: 'Prompt', sans-serif;
}
/* CSS Reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.top-banner {
  overflow-x: hidden;
  text-align: center;
  color: white;
  background-color: black;
  margin-bottom: 0.25em;
}